<h1 align='center'> Solutions for IEEE' Basic and Advanced Python Workshops <h1>

<h2 align='center'> Basic Python Workshop Solutions </h2>

### Q1. (True and False) or (False or True)

In [ ]:
(True and False) or (False or True)

### Q2. Write a program to add numbers if input is 1, and subtract numbers in input is 2, multiply if input is 3 and divide if input is 4. Display an error message with any other input.

In [ ]:
#write your code here
print("Enter number 1")
number1 = int(input())

print("Enter number 2")
number2 = int(input()) 

print("Enter the operation")
op= int(input())

print("The solution is\n")
if(op==1):
    print(number1+number2)
elif(op==2):
    print(number1-number2)
elif(op==3):
    print(number1*number2)
elif(op==4):
    print(number1/number2)
else:
    print("Invalid Input!")

### Q3. Write a loop to print all the numbers below 100 that are divisible by 2 and 3.

In [ ]:
#write your code here
for number in range(1,100):
    if(number%2==0 and number%3==0):
        print(number)

### Q4. Add all user inputs until sum is lesser than 50.

In [ ]:
#write your code here
sum=0
while (sum<50):
    digit=int(input("Enter a number"))
    sum=sum+digit
print("sum is", sum)

### Q5. Write a loop to print the first 100 prime numbers.

In [ ]:
#write your code here
for num in range(2,100):
    for number in range(2,num):
        if(num%number==0):
            break
    else:
        print(num)

### Q6. Count the number of uppercase and lowercase characters in a string

In [ ]:
#write your code here
sum_upper=0
sum_lower=0

word=input("Enter word ")

for letter in word:
    if(letter.isupper()):
        sum_upper+=1
    elif(letter.islower()):
        sum_lower+=1
print("sum of upper",sum_upper,"sum of lower" ,sum_lower)

### Q7. Find if a word is a palindrome.

In [ ]:
#write your code here
string=input("Enter string:")
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("The string isn't a palindrome")

<h2 align='center'> Advanced Python Workshop Solutions </h2>

<h3>Data Structures</h3>

1. Define a list of all numbers between 100 and 1000 which are divisible by both 2 and 3.
2. Update this list in such a way that every alternate element of this list is equal to 0.
3. Can  lists and tuples be assigned as value in a dictionary?
4. What does a list inside a list (nested list) represent? How to access its values?

In [ ]:
#Alternate 1
a = [x for x in range(100,1000) if ((x%2==0)and(x%3==0))]

#Alternate 2
b= [x for x in range(100,1000) if ((x%6==0))]

#Alternate 3
c=[]
for x in range(100,1000):
    if (x%6==0):
        c.append(x)

#print(a)

In [ ]:
for i in range(0,len(a),2):
    a[i]=0
#print(a)

In [ ]:
dict1 = {
    'list':[0,1,2,3,4],
    'tuple':(5,2,4),
    'dict':{'x':10,'y':30}
}
print(dict1['list'])
print(dict1['list'][0])
print(dict1['tuple'])
print(dict1['tuple'][0])

print(dict1['dict'])
print(dict1['dict']['x'])

In [ ]:
#list inside a list is known as a nested list. It is used to represent data with more than one dimension

list2d = [[1 ,2 ,3 ,4 ],
          [0 ,6 ,9 ,10],
          [9 ,7 ,12,54],
          [61,90,74,1 ]]

print(list2d[3][1]) #value of 4th row and 2rd column

<h3> Recursion </h3>

1. Write a function that determines how many digits a number has using recursion.
2. Write a function which prints the n'th Fibonacci number using recursion.
3. Write a function which prints the sum of first n numbers using recursion.

In [ ]:
def length(num):
    if (int(num/10)==0):
        return 1
    else:
        return (1+length(int(num/10)))
    
length(11)

In [ ]:
def fibo(n):
    if (n<=1):
        return (n)
    else:
        return (fibo(n-1)+fibo(n-2))
#print(fibo(4))
for i in range(5):
    print(fibo(i))

In [ ]:
def sumn(n):
    if (n==0):
        return (n)
    else:
        return (sumn(n-1)+n)
#print(sumn(4))
for i in range(5):
    print(sumn(i))

<h3> File Handling and RegEx </h3>

Your task is to extract all the dates that are present in the text file 'scraping_regex.txt'

In [ ]:
import re
text = open('scraping_regex.txt') #open text file
for line in text: #iterate through every line
#return list of dates in that line
    x = re.findall('[a-zA-Z]+\s[0-9][0-9],\s[0-9][0-9][0-9][0-9]', line) 
#if a date is found
    if len(x) != 0:
        print(x)